body {
    body {margin: 5% auto; background: #f2f2f2; color: #444444; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.8; text-shadow: 0 1px 0 #ffffff; max-width: 73%;}
    code {background: white;}
    a {border-bottom: 1px solid #444444; color: #444444; text-decoration: none;}
    a:hover {border-bottom: 0;}
}


.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre_ {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre_1 {
    display: block;
    height: 5em
    }
.calibre_2 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre_3 {
    display: list-item;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre_4 {
    color: #00f
    }
.calibre_5 {
    display: block;
    height: 6pt
    }
.calibre_6 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre_7 {
    display: list-item;
    margin-top: 4pt;
    text-align: left;
    text-indent: 0
    }
.calibre_8 {
    display: list-item;
    margin-top: 6pt;
    text-align: left;
    text-indent: 0
    }
.calibre_9 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_10 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre_11 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em
    }
.calibre_12 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre_13 {
    background-color: inherit
    }
.calibre_14 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 4pt
    }
.calibre_15 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre_16 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 10pt
    }
.calibre_17 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.calibre_18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: center;
    text-indent: 0
    }
.calibre_19 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.calibre_20 {
    height: 104px;
    vertical-align: baseline;
    width: 90px
    }
.calibre_21 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre_22 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    text-indent: 0
    }
.calibre_23 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0
    }
.calibre_24 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-indent: 0
    }
.calibre_25 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    text-indent: 0
    }
.calibre_26 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    text-indent: 0
    }
.calibre_27 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    text-indent: 1em
    }
.calibre_28 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre_29 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre_30 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 1em
    }
.calibre_31 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6em;
    text-align: center;
    text-indent: 0
    }
.calibre_32 {
    height: 300px;
    vertical-align: baseline;
    width: 300px
    }
.calibre_33 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-indent: 1em
    }
.calibre_34 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10pt;
    text-align: left;
    text-indent: 0
    }
.calibre_35 {
    height: 505px;
    vertical-align: baseline;
    width: 617px
    }
.calibre_36 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8pt;
    text-align: left;
    text-indent: 0
    }
.calibre_37 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 1em
    }
.calibre_38 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre_39 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 4pt;
    text-align: left;
    text-indent: 0
    }
.calibre_40 {
    background-color: #000
    }
.calibre_41 {
    color: #fff
    }
.calibre_42 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: left;
    text-indent: 0
    }
.calibre_43 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre_44 {
    display: block;
    height: 9pt
    }
.calibre_45 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7pt;
    text-indent: 0
    }
.calibre_46 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre_47 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre_48 {
    height: 102px;
    vertical-align: baseline;
    width: 621px
    }
.calibre_49 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0
    }
.calibre_50 {
    height: 292px;
    vertical-align: baseline;
    width: 662px
    }
.calibre_51 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-align: left;
    text-indent: 0
    }
.calibre_52 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre_53 {
    display: table-row;
    text-align: center;
    vertical-align: middle
    }
.calibre_54 {
    background-color: inherit;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top
    }
.calibre_55 {
    background-color: #f2f2f2;
    display: table-row;
    text-align: center;
    vertical-align: middle
    }
.calibre_56 {
    background-color: #f2f2f2
    }
.calibre_57 {
    height: 131px;
    vertical-align: baseline;
    width: 343px
    }
.calibre_58 {
    height: 207px;
    vertical-align: baseline;
    width: 660px
    }
.calibre_59 {
    height: 179px;
    vertical-align: baseline;
    width: 459px
    }
.calibre_60 {
    height: 989px;
    vertical-align: baseline;
    width: 600px
    }
.calibre_61 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 8pt
    }
.calibre_62 {
    height: 669px;
    vertical-align: baseline;
    width: 627px
    }
.calibre_63 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    text-align: center;
    text-indent: 0
    }
.calibre_64 {
    height: 509px;
    vertical-align: baseline;
    width: 602px
    }
.calibre_65 {
    height: 698px;
    vertical-align: baseline;
    width: 600px
    }
.calibre_66 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre_67 {
    height: 361px;
    vertical-align: baseline;
    width: 552px
    }
.calibre_68 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.calibre_69 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 4pt;
    text-align: left;
    text-indent: 1em
    }
.calibre_70 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 6pt
    }
.calibre_71 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 1em
    }
.calibre_72 {
    height: 294px;
    vertical-align: baseline;
    width: 673px
    }
.calibre_73 {
    height: 316px;
    vertical-align: baseline;
    width: 451px
    }
.calibre_74 {
    height: 151px;
    vertical-align: baseline;
    width: 678px
    }
.calibre_75 {
    height: 151px;
    vertical-align: baseline;
    width: 629px
    }
.calibre_76 {
    height: 241px;
    vertical-align: baseline;
    width: 380px
    }
.calibre_77 {
    height: 623px;
    vertical-align: baseline;
    width: 501px
    }
.calibre_78 {
    height: 412px;
    vertical-align: baseline;
    width: 625px
    }
.calibre_79 {
    height: 406px;
    vertical-align: baseline;
    width: 625px
    }
.calibre_80 {
    height: 389px;
    vertical-align: baseline;
    width: 654px
    }
.calibre_81 {
    display: list-item;
    margin-top: 2em;
    text-align: left;
    text-indent: 0
    }
.calibre_82 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em
    }
.calibre_83 {
    height: 326px;
    vertical-align: baseline;
    width: 524px
    }
.calibre_84 {
    height: 406px;
    vertical-align: baseline;
    width: 524px
    }
.calibre_85 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-align: center;
    text-indent: 0
    }
.calibre_86 {
    height: 180px;
    vertical-align: baseline;
    width: 703px
    }
.calibre_87 {
    height: 142px;
    vertical-align: baseline;
    width: 392px
    }
.calibre_88 {
    height: 191px;
    vertical-align: baseline;
    width: 443px
    }
.calibre_89 {
    height: 778px;
    vertical-align: baseline;
    width: 659px
    }
.calibre_90 {
    height: 284px;
    vertical-align: baseline;
    width: 441px
    }
.calibre_91 {
    height: 207px;
    vertical-align: baseline;
    width: 674px
    }
.calibre_92 {
    height: 245px;
    vertical-align: baseline;
    width: 579px
    }
.calibre_93 {
    height: 279px;
    vertical-align: baseline;
    width: 579px
    }
.calibre_94 {
    height: 123px;
    vertical-align: baseline;
    width: 409px
    }
.calibre_95 {
    height: 918px;
    vertical-align: baseline;
    width: 540px
    }
.calibre_96 {
    height: 563px;
    vertical-align: baseline;
    width: 716px
    }
.calibre_97 {
    height: 368px;
    vertical-align: baseline;
    width: 601px
    }
.calibre_98 {
    height: 59px;
    vertical-align: baseline;
    width: 598px
    }
.calibre_99 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 9pt;
    text-align: left;
    text-indent: 1em
    }
.calibre_100 {
    height: 351px;
    vertical-align: baseline;
    width: 696px
    }
.calibre_101 {
    height: 298px;
    vertical-align: baseline;
    width: 552px
    }
.calibre_102 {
    height: 190px;
    vertical-align: baseline;
    width: 582px
    }
.calibre_103 {
    height: 332px;
    vertical-align: baseline;
    width: 302px
    }
.calibre_104 {
    height: 297px;
    vertical-align: baseline;
    width: 489px
    }
.calibre_105 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 6em;
    text-indent: 0
    }
.calibre_106 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_107 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6em;
    text-indent: 0
    }
.calibre_108 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 7pt;
    text-indent: 0
    }
.calibre_109 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 6pt;
    text-indent: 0
    }
.calibre_110 {
    display: block;
    margin-bottom: 0;
    margin-left: 14pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -14pt
    }
.calibre_111 {
    display: block;
    margin-bottom: 0;
    margin-left: 14pt;
    margin-right: 0;
    margin-top: 0;
    text-indent: -14pt
    }
.calibre1 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.calibre3 {
    font-size: 0.75em
    }
.calibre4 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre5 {
    font-size: 1.375em;
    line-height: 1.2
    }
.calibre6 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre7 {
    display: block
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

