@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre_ {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre_1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.calibre_2 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1em
    }
.calibre_3 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 2em
    }
.calibre_4 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_5 {
    color: #ff9b2f
    }
.calibre_6 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre_7 {
    height: 176px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_8 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre_9 {
    color: #008000
    }
.calibre_10 {
    display: block;
    height: 1em
    }
.calibre_11 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_12 {
    display: list-item;
    margin-top: 0;
    text-indent: 0
    }
.calibre_13 {
    color: #00f
    }
.calibre_14 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em
    }
.calibre_15 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre_16 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_17 {
    color: #000
    }
.calibre_18 {
    height: 455px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_19 {
    height: 568px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_20 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_21 {
    display: list-item;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_22 {
    height: 745px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_23 {
    height: 674px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_24 {
    height: 733px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_25 {
    height: 720px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_26 {
    height: 719px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_27 {
    height: 599px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_28 {
    height: 596px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_29 {
    height: 609px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_30 {
    height: 732px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_31 {
    height: 653px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_32 {
    height: 417px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_33 {
    height: 611px;
    vertical-align: baseline;
    width: 951px
    }
.calibre_34 {
    height: 707px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_35 {
    height: 746px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_36 {
    height: 713px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_37 {
    height: 738px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_38 {
    height: 733px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_39 {
    height: 752px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_40 {
    height: 294px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_41 {
    height: 546px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_42 {
    height: 271px;
    vertical-align: baseline;
    width: 962px
    }
.calibre_43 {
    height: 763px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_44 {
    height: 871px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_45 {
    height: 108px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_46 {
    height: 876px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_47 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre_48 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre_49 {
    height: 822px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_50 {
    height: 1092px;
    vertical-align: baseline;
    width: 977px
    }
.calibre_51 {
    height: 1092px;
    vertical-align: baseline;
    width: 979px
    }
.calibre_52 {
    height: 712px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_53 {
    height: 721px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_54 {
    height: 1092px;
    vertical-align: baseline;
    width: 991px
    }
.calibre_55 {
    height: 829px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_56 {
    height: 635px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_57 {
    height: 751px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_58 {
    height: 608px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_59 {
    height: 716px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_60 {
    height: 717px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_61 {
    height: 616px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_62 {
    height: 724px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_63 {
    height: 535px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_64 {
    height: 602px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_65 {
    height: 731px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_66 {
    height: 656px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_67 {
    height: 660px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_68 {
    height: 846px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_69 {
    height: 836px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_70 {
    height: 877px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_71 {
    height: 703px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_72 {
    height: 1092px;
    vertical-align: baseline;
    width: 961px
    }
.calibre_73 {
    height: 1092px;
    vertical-align: baseline;
    width: 949px
    }
.calibre_74 {
    height: 337px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_75 {
    height: 1092px;
    vertical-align: baseline;
    width: 897px
    }
.calibre_76 {
    height: 792px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_77 {
    height: 744px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_78 {
    height: 735px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_79 {
    height: 780px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_80 {
    height: 638px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_81 {
    height: 760px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_82 {
    height: 856px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_83 {
    height: 88px;
    vertical-align: baseline;
    width: 581px
    }
.calibre_84 {
    height: 711px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_85 {
    height: 350px;
    vertical-align: baseline;
    width: 662px
    }
.calibre_86 {
    height: 611px;
    vertical-align: baseline;
    width: 662px
    }
.calibre_87 {
    height: 414px;
    vertical-align: baseline;
    width: 607px
    }
.calibre_88 {
    height: 218px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_89 {
    height: 204px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_90 {
    height: 237px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_91 {
    height: 212px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_92 {
    height: 511px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_93 {
    height: 528px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_94 {
    height: 766px;
    vertical-align: baseline;
    width: 678px
    }
.calibre_95 {
    height: 748px;
    vertical-align: baseline;
    width: 882px
    }
.calibre_96 {
    height: 735px;
    vertical-align: baseline;
    width: 624px
    }
.calibre_97 {
    height: 735px;
    vertical-align: baseline;
    width: 742px
    }
.calibre_98 {
    height: 766px;
    vertical-align: baseline;
    width: 585px
    }
.calibre_99 {
    height: 744px;
    vertical-align: baseline;
    width: 882px
    }
.calibre_100 {
    height: 775px;
    vertical-align: baseline;
    width: 592px
    }
.calibre_101 {
    height: 775px;
    vertical-align: baseline;
    width: 990px
    }
.calibre_102 {
    height: 211px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_103 {
    height: 240px;
    vertical-align: baseline;
    width: 994px
    }
.calibre_104 {
    height: 109px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_105 {
    height: 118px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_106 {
    height: 118px;
    vertical-align: baseline;
    width: 606px
    }
.calibre_107 {
    height: 174px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_108 {
    height: 735px;
    vertical-align: baseline;
    width: 960px
    }
.calibre_109 {
    height: 735px;
    vertical-align: baseline;
    width: 763px
    }
.calibre_110 {
    height: 735px;
    vertical-align: baseline;
    width: 858px
    }
.calibre_111 {
    height: 748px;
    vertical-align: baseline;
    width: 728px
    }
.calibre_112 {
    height: 304px;
    vertical-align: baseline;
    width: 882px
    }
.calibre_113 {
    height: 579px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_114 {
    height: 740px;
    vertical-align: baseline;
    width: 970px
    }
.calibre_115 {
    height: 764px;
    vertical-align: baseline;
    width: 948px
    }
.calibre_116 {
    height: 771px;
    vertical-align: baseline;
    width: 882px
    }
.calibre_117 {
    height: 809px;
    vertical-align: baseline;
    width: 728px
    }
.calibre_118 {
    height: 772px;
    vertical-align: baseline;
    width: 948px
    }
.calibre_119 {
    height: 802px;
    vertical-align: baseline;
    width: 728px
    }
.calibre_120 {
    height: 735px;
    vertical-align: baseline;
    width: 765px
    }
.calibre_121 {
    height: 735px;
    vertical-align: baseline;
    width: 771px
    }
.calibre_122 {
    height: 774px;
    vertical-align: baseline;
    width: 882px
    }
.calibre_123 {
    height: 764px;
    vertical-align: baseline;
    width: 882px
    }
.calibre_124 {
    height: 769px;
    vertical-align: baseline;
    width: 882px
    }
.calibre_125 {
    height: 777px;
    vertical-align: baseline;
    width: 948px
    }
.calibre_126 {
    height: 735px;
    vertical-align: baseline;
    width: 940px
    }
.calibre_127 {
    height: 510px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_128 {
    height: 579px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_129 {
    height: 574px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_130 {
    height: 513px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_131 {
    height: 570px;
    vertical-align: baseline;
    width: 1000px
    }
.calibre_132 {
    height: 512px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_133 {
    height: 456px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_134 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre_135 {
    display: block;
    margin-bottom: 0;
    margin-left: 14pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -14pt
    }
.calibre1 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre2 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre3 {
    font-family: monospace
    }
.calibre4 {
    font-size: 1.375em;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.calibre6 {
    display: block
    }
.calibre7 {
    font-size: 1.25em;
    line-height: 1.2
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }

